.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  margin-bottom: 100px;
  min-height: 500px;

  .Nav {
    max-width: 250px;
    width: 400px;
    border: solid 2px var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;

    h2 {
      padding-top: 25px;
      margin: 0;
      text-align: center;
    }

    ul {
      width: fit-content;
      align-self: center;
      display: flex;
      flex-direction: column;
      padding: 0;
      display: block;

      li {
        margin: 10px 0;
        line-height: 1.2;
        padding-left: 10px;
      }

      a {
        position: relative;
        display: inline-block;
        margin-bottom: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        width: fit-content;
        color: var(--text-color);
        text-align: center;
        box-sizing: border-box;
      }
      a::after {
        content: "";
        position: absolute;
        /*position it relative to the parent container(which is a or the one that have position relative*/
        height: 2px;
        width: 0;
        bottom: 0;
        left: 0;
        background-color: var(--text-color);
        transition: all 0.3s ease;
      }
      a:hover::after {
        width: 100%;
      }
    }
  }

  span {
    margin: 0;
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 70px;
        transition: 200ms ease-in-out;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 35px;
    width: 225px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease;
  }

  button:hover {
    border: 1px solid var(--btn-color);
    background-color: var(--btn-text-color);
    color: var(--btn-color);
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  top: -20%;
  left: 100%;
  width: 50px;
  transition: all 200ms ease-in-out;
}

@media (width <= 800px) {
  .colorMode {
    width: 30px;
    top: 0%;
    left: 90%;
  }
  .colorModeContainer {
    margin-top: 150px;
  }
}

@media (height <= 750px) {
  .container {
    margin: 100px 0 150px 0;
  }
}

.colorMode:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(-30deg);
}

.description {
  max-width: 35ch;
  font-size: 16px;
  margin: 10px auto 0px auto;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    text-align: center;
  }
  p {
    text-align: start;
  }
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0;

    .Nav {
      max-width: 200px;
      width: 200px;
    }
  }

  .contactContainer {
    align-items: flex-start;
  }
}

.contactblock {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30px;
    margin-right: 10px;
    margin-top: 5px;
    color: blue;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 10px;
}

@media (width <= 350px) {
  .description {
    max-width: 27ch;
    font-size: 14px;
  }
  .contactblock img {
    width: 20px;
  }
  .colorMode {
    top: -13%;
    width: 25px;
  }

  .container {
    height: fit-content;
  }
}
