.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;

  .hero {
    max-width: 250px;
  }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;

    a {
      margin: 0;

      img {
        width: 70px;
        transition: 200ms ease-in-out;
      }
      img:hover {
        transform: scale(1.2);
      }
    }
  }

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    margin-top: 40px;
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 35px;
    width: 225px;
    height: 75px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease;
  }

  button:hover {
    border: 1px solid var(--btn-color);
    background-color: var(--btn-text-color);
    color: var(--btn-color);
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.colorModeContainer {
  position: relative;
}

.colorMode {
  position: absolute;
  right: -10%;
  width: 50px;
  transition: all 200ms ease-in-out;
}

.colorMode:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(-30deg);
}

.description {
  max-width: 24ch;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width >= 800px) {
  .container {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;

    .hero {
      max-width: 350px;
      width: 350px;
    }
  }
}

@media (width >= 1400px) {
  .container {
    .hero {
      max-width: 400px;
      width: 400px;
    }
  }
}
